{ background-color: linen ; } Change Background color

{ color: red ; } Change Text Color

< body style="background-color: linen" > change bodys color

<style> 
body
 { background-image: url("paper.gif");
   background-repeat: no-repeat;
   background-position: top right;
   background-repeat: repeat-y; }
   no-repeat top right
   border-style: dotted;
   border-width: 4px;
   border-color: red;
<style>







